.world-obituary-screen > .l-obituary-dialog-container {
    position: absolute;
    top: 0;
    left: 0rem;
    right: 0;
    bottom: 0;
    width: 180rem;
    height: 76.8rem;
    margin: auto;
    z-index: 2;
	//background: orange; // Debug colouring
}

.world-obituary-screen > .l-obituary-dialog-container .l-tab-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 128rem;
    height: 3rem;
    margin: auto;
	//background: rgba(0, 0, 255, 0.5);    // Debug colouring (blue)
}

.world-obituary-screen > .l-obituary-dialog-container .content > .column {
    width: 100%;
    height: 100%;
    padding-top: 2.0rem;
    padding-bottom: 0.9rem;
	padding-left: 1.0rem;
	padding-right: 1.0rem;
    position: relative;
    float : left;
    //background: rgba(0, 128, 0, 0.5);    // Debug colouring (green)
}

/* Header Icons */
img.header-icon {
    width: 2.5rem !important;
    height: 2.5rem !important;
    display: inline-block !important;
    object-fit: contain !important;
    image-rendering: pixelated !important;
	//background: rgba(255, 165, 0, 0.5);  // Debug colouring (orange)
}

/* Header Positions */
.world-obituary-screen > .l-obituary-dialog-container .content .scroll-container .l-row
.name, .time, .battles, .kills, .killed-by, .level {
    position: absolute;
    top: 0;
	//background: rgba(128, 0, 128, 0.5);  // Debug colouring (purple)
}

.world-obituary-screen > .l-obituary-dialog-container .table-header { 
	height: 3.5rem; 
	//background: rgba(255, 165, 0, 0.5)
}

.world-obituary-screen > .l-obituary-dialog-container .table-header .table-header-name      { left: 2.5rem; }
.world-obituary-screen > .l-obituary-dialog-container .table-header .table-header-time      { left: 31rem; }
.world-obituary-screen > .l-obituary-dialog-container .table-header .table-header-battles   { left: 36rem; }
.world-obituary-screen > .l-obituary-dialog-container .table-header .table-header-kills     { left: 41rem; }
.world-obituary-screen > .l-obituary-dialog-container .table-header .table-header-killed-by { left: 46.4rem; }

.world-obituary-screen > .l-obituary-dialog-container .table-header .table-header-level        { position: absolute; top: 0; left: 82.8rem; }
.world-obituary-screen > .l-obituary-dialog-container .table-header .table-header-traits       { position: absolute; top: 0; left: 88.2rem; }
.world-obituary-screen > .l-obituary-dialog-container .table-header .table-header-perminjuries { position: absolute; top: 0; left: 113rem; }
.world-obituary-screen > .l-obituary-dialog-container .table-header .table-header-hp           { position: absolute; top: 0; left: calc(119rem + 0 * 7.2rem + 1rem); }
.world-obituary-screen > .l-obituary-dialog-container .table-header .table-header-ft           { position: absolute; top: 0; left: calc(119rem + 1 * 7.2rem + 1rem); }
.world-obituary-screen > .l-obituary-dialog-container .table-header .table-header-br           { position: absolute; top: 0; left: calc(119rem + 2 * 7.2rem + 1rem); }
.world-obituary-screen > .l-obituary-dialog-container .table-header .table-header-it           { position: absolute; top: 0; left: calc(119rem + 3 * 7.2rem + 1rem); }
.world-obituary-screen > .l-obituary-dialog-container .table-header .table-header-ma           { position: absolute; top: 0; left: calc(119rem + 4 * 7.2rem + 1rem); }
.world-obituary-screen > .l-obituary-dialog-container .table-header .table-header-ra           { position: absolute; top: 0; left: calc(119rem + 5 * 7.2rem + 1rem); }
.world-obituary-screen > .l-obituary-dialog-container .table-header .table-header-md           { position: absolute; top: 0; left: calc(119rem + 6 * 7.2rem + 1rem); }
.world-obituary-screen > .l-obituary-dialog-container .table-header .table-header-rd           { position: absolute; top: 0; left: calc(119rem + 7 * 7.2rem + 1rem); }

/* Fallen Entry Positions */
.world-obituary-screen > .l-obituary-dialog-container .content .scroll-container .l-row
.time, .battles, .kills, .level {
    width: 3.5rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
	//background: rgba(255, 255, 255, 0.5); // Debug colouring (white)
}

.world-obituary-screen > .l-obituary-dialog-container .content .scroll-container .l-row .name 		{ left: 2rem; }
.world-obituary-screen > .l-obituary-dialog-container .content .scroll-container .l-row .time 		{ left: 29.7rem; }
.world-obituary-screen > .l-obituary-dialog-container .content .scroll-container .l-row .battles 	{ left: 34.7rem; }
.world-obituary-screen > .l-obituary-dialog-container .content .scroll-container .l-row .kills 		{ left: 39.7rem; }
.world-obituary-screen > .l-obituary-dialog-container .content .scroll-container .l-row .killed-by	{ left: 45.8rem; }
.world-obituary-screen > .l-obituary-dialog-container .content .scroll-container .l-row .level		{ left: 81.7rem; }

.trait-group, .perminjury-group {
    position: absolute;
    top: 0;
    height: 2.6rem;
    display: flex;
    align-items: center;
	//background: rgba(255, 165, 0, 0.5);  // Debug colouring (orange)
}

.trait-group, .perminjury-group {
    position: absolute;
    top: 0;
    left: 87rem;
    height: 2.6rem;
    display: flex;
    align-items: center;
	//background: rgba(255, 165, 0, 0.5);  // Debug colouring (orange)
}

.trait-group      { width: calc(0.5rem + (2.6 + 0.1) * 8rem); left: 87rem; justify-content: left;}
.perminjury-group { width: calc((2.6 + 0.1) * 3rem); left: calc(87rem + 1.2rem + (2.6 + 0.1) * 8rem); justify-content: center;}

.trait-group img, .perminjury-group img {
    width: 2.6rem;
    height: 2.6rem;
    object-fit: contain;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
	//background: rgba(255, 255, 0, 0.5);  // Debug colouring (yellow)
}

/* Add gap between the 1st image (backround) and following traits */
.trait-group img:nth-child(2) {
    margin-left: 0.5rem;
}

/* stat text fields */
.world-obituary-screen > .l-obituary-dialog-container .content .scroll-container .l-row
.hptext, .fttext, .brtext, .ittext, .matext, .ratext, .mdtext, .rdtext {
    position: absolute;
    top: 0;
    width: 6.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    text-align: right;
    //background: rgba(0, 0, 255, 0.5);    // Debug colouring (blue)
}

/* stat icons */
.world-obituary-screen > .l-obituary-dialog-container .content .scroll-container .l-row
.hptext img, .fttext img, .brtext img, .ittext img, .matext img, .ratext img, .mdtext img, .rdtext img {
    width: 2.6rem;
    height: 2.6rem;
    object-fit: contain;
    flex-shrink: 0;
	//background: rgba(255, 0, 0, 0.5);    // Debug colouring (red)
}

/* stat text */
.hptext { width: 5.5rem; left: calc(119rem + 0 * 7.2rem); }
.fttext { width: 5.5rem; left: calc(119rem + 1 * 7.2rem); }
.brtext { width: 5.5rem; left: calc(119rem + 2 * 7.2rem); }
.ittext { width: 5.5rem; left: calc(119rem + 3 * 7.2rem); }
.matext { width: 5.5rem; left: calc(119rem + 4 * 7.2rem); }
.ratext { width: 5.5rem; left: calc(119rem + 5 * 7.2rem); }
.mdtext { width: 5.5rem; left: calc(119rem + 6 * 7.2rem); }
.rdtext { width: 5.5rem; left: calc(119rem + 7 * 7.2rem); }
